{% load crispy_forms_tags %}

<form action="{% url 'tasks:task-create' %}" method="post" 
    data-controller="form" 
    data-action="turbo:submit-start->form#submitStart turbo:submit-end->form#submitEnd">
    {% csrf_token %}
    {{ form|crispy }}
    <div>
        <button type="submit" class="btn-blue" data-form-target="submit" value="Submit">
            {% include 'components/spinner.html' %}
            Save
        </button>
        {% if request.turbo.frame %}
        <button type="button" class="btn-red">
            <a href="{% url 'tasks:task-list' %}">Cancel</a>
        </button>
        {% else %}
        <button type="button" class="btn-red">
            <a href="{% url 'tasks:task-detail' form.instance.pk %}">Cancel</a>
        </button>
        {% endif %}
    </div>
</form>