{% for message in messages %}
<div data-turbo-temporary="true" data-controller="alert" data-alert-dismiss-after-value="1000" data-alert-remove-delay-value="0" class="{{ message.tags }}">
    <div class="w-full max-w-6xl mx-auto p-4 flex items-center justify-between">
        <span>{{ message|safe }}</span>
        <button data-action="alert#close" class="bg-transparent text-2xl font-semibold leading-none outline-none focus:outline-none">
            <span>x</span>
        </button>
    </div>
</div>
{% endfor %}