{% extends 'base.html' %}

{% block content %}
<header class="mb-6 border-b pb-4">
    <h1 class="text-4xl mb-4">Turbo Frame Index</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quibusdam ratione nobis, accusantium quae assumenda id sit nihil tempora? Nesciunt est doloremque obcaecati eligendi ab iure rem? Doloribus, totam cum.</p>
</header>
<div class="mb-6">
    <turbo-frame id="task-create">
        <p><a href="{% url 'tasks:task-create' %}" class="btn-blue">Create a task</a></p>
    </turbo-frame>
</div>
<div>
    <turbo-frame id="task-list" src="{% url 'tasks:task-list' %}">
        <p>Loading...</p>
    </turbo-frame>
</div>
{% endblock %}