{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <header class="mb-12">
        <h1 class="text-4xl mb-4">Welcome Back</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quibusdam ratione nobis, accusantium quae assumenda id sit nihil tempora? Nesciunt est doloremque obcaecati eligendi ab iure rem? Doloribus, totam cum.</p>
    </header>
    <form action="{% url 'accounts:login' %}" method="post" class="flex flex-col gap-8">
        {% csrf_token %}
        <div>
            {{ form|crispy }}
            <div>
                <a href="{% url 'accounts:password_reset' %}" class="text-blue-500 hover:underline">Forgot password?</a>
            </div>
        </div>
        <div>
            <button type="submit" class="bg-black text-white px-4 py-2 rounded-md">Log-in</button>
        </div>
    </form>
{% endblock %}