{% extends 'base.html' %}

{% block content %}
    <header class="mb-6 border-b pb-4">
        <p><a href="{% url 'tasks:task-list' %}">Back to List</a></p>
        <h1 class="text-4xl mb-4">Create a new task</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quibusdam ratione nobis, accusantium quae assumenda id sit nihil tempora? Nesciunt est doloremque obcaecati eligendi ab iure rem? Doloribus, totam cum.</p>
    </header>
    <div class="">
        {% if request.turbo.frame %}
        <turbo-frame id="{{request.turbo.frame}}">
            {% include 'tasks/form/create.html' %}
        </turbo-frame>
        {% else %}
            {% include 'tasks/form/create.html' %}
        {% endif %}
    </div>
{% endblock %}