{% extends 'base.html' %}

{% block content %}
    <header class="mb-6 border-b pb-4">
        <!-- <p><a href="{% url 'tasks:task-create' %}">Create a task</a></p> -->
        <h1 class="text-5xl mb-4">Playground</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quibusdam ratione nobis, accusantium quae assumenda id sit nihil tempora? Nesciunt est doloremque obcaecati eligendi ab iure rem? Doloribus, totam cum.</p>
    </header>
    <div>
        <button 
            class="btn-outline-blue" 
            data-controller="counter" 
            data-action="counter#increment"
            data-counter-hidden-class="hidden"
            data-counter-btn-outline-red-class="btn-outline-red"
            data-counter-btn-outline-blue-class="btn-outline-blue"
            data-counter-btn-red-class="btn-red">
            <span data-counter-target="initial">Click Me</span>
            <span data-counter-target="progress" class="hidden">
                You clicked <span class="font-bold" data-counter-target="count"></span> times
            </span>
        </button>
    </div>
{% endblock %}